/*font-family: 'Inter Tight', sans-serif;
font-family: 'Vollkorn', serif;*/

* {
  margin: 0;
  padding: 0;
}
.global-container {
  background-image: linear-gradient(to right, #3d3c42, #ffffea);
}

.brand-propia img {
  width: 80px;
  height: 80px;
}

.top-fila {
  display: flex;
  flex-direction: row;
  background-image: linear-gradient(to right, rgb(61, 60, 66), #ffffea);
}
.llamar i {
  font-size: 50px;
  color: darkred;
}

@media screen and (min-width: 540px) {
  .brand-propia img {
    display: none;
  }
  .llamar {
    display: none;
  }
  .nav-list-propia a {
    font-size: 140%;
    font-family: "Inter Tight", sans-serif;
    font-weight: bold;
  }
  .nav-list-propia li {
    padding: 5px;
  }
  .carousel-item-propio img {
    width: 720px;
    height: 480px;
  }

  .parrafo-area-areas:hover {
    transition: all 1s;
    font-size: 140%;
  }
  .nav-propia {
    background-color: #f2f2f2;
  }
  .equipo div img:hover {
    transform: rotateY(720deg);
    transition: all 2s;
  }
}

@media screen and (max-width: 540px) {
  .logo-top {
    display: none;
  }
  .top-fila {
    display: none;
  }
  .carousel-item-propio img {
    width: 100%;
  }

  .nav-list-propia a {
    font-family: "Inter Tight", sans-serif;
  }
  .nav-propia {
    background-image: linear-gradient(to right, rgb(61, 60, 66), #ffffea);
  }
}

.nav-list-propia {
  justify-content: flex-end;
}

.iconosRedes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.iconosRedes ul {
  display: flex;
  margin: 10px;
  padding: 5px;
  width: 100%;
  justify-content: flex-end;
}

.iconosRedes i {
  padding: 3px;
  font-size: 45px;
  color: rgb(55, 55, 77);
}

.iconosRedes ul li {
  transition: all 0.4s ease-in-out;
  justify-content: space-between;
}

.iconosRedes ul li:hover {
  transform: scale(1.2);
}

.iconosRedes ul li {
  list-style: none;
}

.logo-top img {
  width: 50%;
  margin: 0;
  padding: 5px;
}

.nav-propia ul li:hover {
  transform: scale(1.2);
}

.section-index-carousel {
  display: flex;
  justify-content: center;
  max-height: 480px;
}

.borde-contraste {
  color: black;
  text-shadow: 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white,
    0 0 0.2em white;
}

.h1-propio {
  text-align: center;
  font-family: "Vollkorn", serif;
  font-weight: 600;
  margin: 0;
  padding-top: 3%;
  padding-bottom: 3%;
}

.h2-propio {
  text-align: center;
  font-family: "Vollkorn", serif;
  font-size: 250%;
  padding-top: 3%;
}

main p {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 5vh;
  padding-top: 0;
  font-family: "Inter Tight", sans-serif;
  font-size: large;
  text-align: justify;
}

footer {
  background-color: #3d3c42;
}
.iframe-footer {
  overflow: hidden;
}
.practicas {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.area-practica-areas {
  display: flex;
  position: relative;
  display: inline-block;
}

.area-practica-areas img {
  width: 100%;
  margin-bottom: 3px;
}

.areas-img-h3 {
  display: flex;
  position: absolute;
  top: 10px;
  left: 30px;
  text-align: center;
  color: black;
  text-shadow: 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white,
    0 0 0.2em white;
  font-size: 2rem;
}
.parrafo-area-areas {
  display: flex;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -10%);
  color: black;
  text-shadow: 0 0 0.2em white, 0 0 0.2em white, 0 0 0.2em white,
    0 0 0.2em white;
  text-align: justify;
}

section img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.h2-titulo {
  text-align: center;
  margin: 3%;
}

.parrafos-section {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 5vh;
  padding-top: 0;
  font-family: "Inter Tight", sans-serif;
  font-size: large;
  text-align: justify;
}
.parrafos-section p {
  margin-top: 3vh;
}

.h3-section {
  text-align: center;
}

.equipo div img {
  width: 40vw;
  height: 40vw;
  margin: auto;
  border-radius: 50%;
}
.equipo div span {
  display: flex;
  justify-content: center;
}
